#spec-404 {
    background: #222222;
}

#spec-404 .bg {
    background-image: url('./sections/special/spec-404/images/bg-laptop-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.10;
}
