#desc-text-btn-threequartbg .threequarter-container-right {
    background-image: url('./sections/descriptions/desc-text-btn-threequartbg/images/screen-43.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}