#gallery-full-quartbg-list-3col .quarter-container-left {
    background-image: url('./sections/galleries/gallery-full-quartbg-list-3col/images/bg-table-1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}