#gallery-text-list-3col .bg {
    background-image: url('./sections/galleries/gallery-text-list-3col/images/bg-pattern-1.png');
    background-size: 300px 300px;
    -webkit-background-size: 300px 300px;
    background-repeat: repeat;
    -webkit-background-repeat: repeat;
    background-position: center center;
    opacity: 0.04;
}
