#subscribe-field-halfbg .half-container-right {
    background-image: url('./sections/subscription/subscribe-field-halfbg/images/bg-38.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
}