#desc-quartbg-text-list .quarter-container-left {
    background-image: url('./sections/descriptions/desc-quartbg-text-list/images/screen-46.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}