#desc-full-text-btn-halfbg{
    background: #453e39;
}

#desc-full-text-btn-halfbg .half-container-right {
    background-image: url('./sections/descriptions/desc-full-text-btn-halfbg/images/screen-47.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}