#video-center-text-list {
	background: radial-gradient(circle, #39305b 30%, #241e2e 70%);
    background: -webkit-radial-gradient(circle, #39305b 30%, #241e2e 70%);
}
#video-center-text-list .bg {
	background-image: url('./sections/videos/video-center-text-list/images/bg-28.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.25;
}