#counter-4col-timer {
    background: #222;
}

#counter-4col-timer .bg {
    background-image: url('./sections/counters/counter-4col-timer/images/bg-laptop-3.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.1;
}
